html{
    overflow-x: hidden;
    overflow-y: scroll;
  }
body {
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* Styling for the Product Container */
/* Styling for the Product Container */
.product {
    width: 95%;
    border-radius: 2rem;
    margin: 6rem auto;
    padding: 1.5rem;
    border:2px solid #ffffff;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 5px 20px #ffffff;
}

@media (max-width: 768px) {
    .product {
        width: 90%;
    }
    
    h2 {
        font-size: 2rem;
    }
    #buttons {
        margin-top: 7%;
        display: flex;
        justify-content: space-between;
        gap: 200px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .footer-widgets{
        margin: 0;
    }
}

@media (max-width: 480px) {
    .product {
        width: 100%;
    }
    
    h2 {
        font-size: 1.5rem;
    }
    #buttons {
        margin-top: 7%;
        display: flex;
        justify-content: space-between;
        gap: 200px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .footer-widgets{
        margin: 0;
    }
}
.testimonials{
    color: #ffffff;
}
.image{
    width: 200px;
}

/* Styling for Chanel Title */
h2 {
    color: #ffffff;
    font-size: 28px;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 20px;
}

/* Styling for Section Titles */
h3 {
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 10px;
}

/* Styling for the Notes Sections */
.notes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Styling for Individual Note */
.note {
    width: 22%;
    margin: 10px;
    text-align: center;
}

.note img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.note p {
    color:#fff;
    font-size: 14px;
    margin-top: 5px;
}
/* pagination-example.component.css */
.note img{
    max-width: 100px;
}

  
  /* Add these styles in your marque.component.css or your global styles file */

.row {
    margin: 20px; /* Adjust margin as needed */
  }
  
  .btn-group {
    display: flex;
  }
  
  #buttons {
    margin-top: 7%;
    display: flex;
    justify-content: space-between;
    gap: 500px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.btns {
    background-color: #ab9e18;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.3s;
}

.btns i {
    font-size: 20px;
}

.btns:hover {
    background-color: #26264b;
    transform: scale(1.1);
}

.menu-btn-mobile {
    padding: 5px;
    display: none; 
    /* Initially hide the menu button */
  }
  .menu-btn-mobile svg{
    fill: #ffffff; 
    /* Initially hide the menu button */
  }
  /* Sidebar styles */
  .sidebar {
    position: fixed;
    top: 0; 
    right: 0;
    height: 100vh;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 1;
  }
  
  .sidebar li {
    width: 100%;
  }
  
  .sidebar a {
    width: 100%;
  }
  
  /* Media Query for Small Screens (Mobile) */
  @media(max-width: 800px) {
  
    .navbar-nav {
        display: none; /* Hide the navbar links */
    }
  
    .menu-btn-mobile {
        display: block; /* Display the menu button */
    }
  }
  @media(max-width: 600px){
    .sidebar{
    width: 100%;
    }
  }
  

/* Responsive Design Adjustments */
@media (max-width: 768px) {
    .product {
        width: 95%;
    }

    .note {
        width: 45%;
    }
    #buttons {
        margin-top: 7%;
        display: flex;
        justify-content: space-between;
        gap: 200px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .footer-widgets{
        margin: 0;
    }
    
}

@media (max-width: 480px) {
    .note {
        width: 100%;
    }
    #buttons {
        margin-top: 7%;
        display: flex;
        justify-content: space-between;
        gap: 200px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .footer-widgets{
        margin: 0;
    }
}